<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">

    <group android:checkableBehavior="single">

        <item
            android:id="@+id/nav_home"
            android:icon="@drawable/home_icon"
            android:title="Home"></item>

    </group>

    <item android:title="Profile">

        <menu>

            <group android:checkableBehavior="single">

                <item
                    android:id="@+id/nav_login"
                    android:icon="@drawable/ic_baseline_login_24"
                    android:title="Login"></item>

                <item
                    android:id="@+id/nav_profile"
                    android:icon="@drawable/ic_baseline_account_circle_24"
                    android:title="Profile"></item>

                <item
                    android:id="@+id/nav_logout"
                    android:icon="@drawable/log_out"
                    android:title="Logout"></item>
            </group>

        </menu>
    </item>

    <item android:title="Communicate">

        <menu>

            <group android:checkableBehavior="single">

            <item
                android:id="@+id/nav_share"
                android:icon="@drawable/ic_baseline_share_24"
                android:title="Share" />

            <item
                android:id="@+id/nav_rate"
                android:icon="@drawable/ic_baseline_star_rate_24"
                android:title="Rate Us" />

            </group>
        </menu>

    </item>

</menu>